doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable', content='yes')
    script(src='/bower_components/webcomponentsjs/webcomponents-lite.js')
    link(rel='import', href='/includes/elements.html')
    link(rel="stylesheet" href="/styles/custom.css")
    link(rel='import', href='/styles/custom-theme.html')
  body(class="fullbleed layout vertical")
    template#app(is='dom-bind')
      neon-animated-pages(id="pages" class="flex" selected="{{loadAppFlag}}" entry-animation="fade-in-animation" exit-animation="fade-out-animation")
        neon-animatable.splash
          anubis-splash.splash(auto-fit-on-attach)
            | Death Certificate Quick Guide
        neon-animatable
          paper-drawer-panel(id="mainDrawer")
            paper-header-panel(id="drawer" drawer mode="waterfall-tall")
              // Drawer Toolbar
              paper-toolbar(id="drawerToolbar" style)
                .flex
                //img.flex(src="/images/drawer-image1.jpg")
                //span.paper-font-title Menu
              // Drawer Content
              anubis-menu-main(menu-selected="{{page}}")
            paper-header-panel(main mode="waterfall")
              paper-toolbar
                paper-icon-button(id="menu-icon" icon='menu', paper-drawer-toggle='')
                div Death Certification Quick Guide
                .flex
                //paper-icon-button(icon="icons:more-vert" )
                paper-menu-button(id="more-menu" vertical-align="top" horizontal-align="right" )
                  paper-icon-button(icon="icons:more-vert" class="dropdown-trigger")
                  paper-menu(class="dropdown-content")
                    paper-item About
                    paper-item Help&nbsp;&amp;&nbsp;FAQ
                    paper-item Contact 
              //button(on-click="_onPrevClick")
                | &lt;&lt;
              //button(on-click="_onNextClick")
                | &gt;&gt;
              //- span
              //-   | --
              //- span
              //-   | {{page}}
              //- span
              //-   | --
              div
                iron-pages(id="pages" class="flex" selected="{{page}}" attr-for-selected="page-route")
                  anubis-guidelines(page-route="guidelines")
                  anubis-examples(page-route="examples")
                  anubis-faqs(page-route="faqs")
                  anubis-part1(page-route="part1")
                  anubis-part2(page-route="part2")
                  anubis-problems-uncertainty(page-route="punc")
                  anubis-problems-advancedage(page-route="paa")
                  anubis-problems-infants(page-route="pinf")
                  anubis-problems-complexsituations(page-route="pcs")
                  anubis-aboutus(page-route="aboutus")
          //- paper-toast#caching-complete(duration='6000', text='Caching complete! This app will work offline.')
          //- paper-toast#caching-incomplete(duration='6000', text='Caching incomplete! This app will not work offline.')
          //- //platinum-sw-register(auto-register='true', href='sw-import.js', clients-claim='false', skip-waiting='true', on-service-worker-installed='displayInstalledToast', on-service-worker-error='displayErrorToast' state='{{state}}')
            platinum-sw-cache(default-cache-strategy='networkFirst')
    script(src='/scripts/index.js')
