.main-page{
	padding:20px;
}

.splash {
  background-color: #e36b2c;
  font-size: 33px;
  /*background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(/images/splash.svg);*/
}
paper-toolbar#drawerToolbar{
	background-image: url('/images/drawer-image1.jpg');
	background-repeat: no-repeat;
	/*background-size: contain;*/
	height: 145px;
}

hr.hr{height: 3px;
    border: 0;
    background-color: #f37018;
}

.section-title{
display: block;
font-family: RobotoDraft, Roboto, sans-serif;
font-size: 24px;
font-weight: normal;
}
.hr-menu {
	color:#eee; 
	margin:0px; 
	padding:0px; 
	border:1px solid;
}