.page-container{
	padding:20px;
}

.splash {
  background-color: #e36b2c;
  font-size: 33px;
  /*background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(/images/splash.svg);*/
}

#drawer{
background-color: #fafafa;
}

paper-toolbar#drawerToolbar{
	background-image: url('/images/drawer-image1.jpg');
	background-repeat: no-repeat;
	/*background-size: contain;*/
	height: 145px;
}

hr.hr{height: 3px;
    border: 0;
    background-color: #f37018;
}

.page-title{
display: block;
font-family: RobotoDraft, Roboto, sans-serif;
font-size: 29px;
font-weight: 200;
height:50;
margin-top: 10px;
margin-bottom: 20px;
}

.section-title{
display: block;
font-family: RobotoDraft, Roboto, sans-serif;
font-size: 24px;
font-weight: 200;
margin-top: 30px;
}

.section-paragraph{
display: block;
font-family: RobotoDraft, Roboto, sans-serif;
font-size: 19px;
font-weight: 100;
margin-top: 10px;
}

.hr-menu {
	color:#eee; 
	margin:0px; 
	padding:0px; 
	border:1px solid;
}